@import url('./fonts.scss');
@import url('./effects.scss');

// Style variables
$main-blue-green: #00171F;
$module-color: #003459;
$row-color: #D9D9D9;
$main-blue-lines: #00A8E8;
$input-placeholder-text: rgba(0, 52, 89, 0.5);

// Media query variables
$breakpoint-tablet: 900px;

#pencil{

    &:hover{
        color: green;
    }
}

#can{
    
    &:hover{
        color: red;
    }
}

#loginForm{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 695px;
    height: 675px;
    gap: 100px;

    border-radius: 25px;

    font-family: "Roboto", sans-serif;
    background-color: $main-blue-green;
    color: white;

    input{
        width: 60%;
        border-bottom: 1px solid white;
    }

    input::placeholder {
        color: white;
    }
}


.addView-Cols{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    align-items: center;
}

.addView-Rows{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    hr{
        height: 100%;
        border-left: 12px solid $main-blue-lines;
    }
}

.add-form{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    .form{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

.add-view-field{
    h2{        
        padding-left: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
    }
}

.input-field-add{
    width: 268px !important;
    border-radius: 19px !important;
    background-color: $row-color !important;
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-weight: 600;

    &::placeholder{
        color: $input-placeholder-text;
        font-family: 'Raleway', 'Roboto', sans-serif;
    }

}

.viewModule{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100vh;
    h3{
        text-align: center;
        font-weight: 400;
        font-size: 40px;
    }
}

.icon {
    width: 22px;
    height: 22px;
}

.Layout{
    display: flex;
    flex-direction: row;
}

.tableData{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.row-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    li{
        display: inline;
    }
}

.viewDataGrid{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 55px;
    align-items: center;
}

.displayDataGrid{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

.titleShow{
    font-family: "Raleway", "Roboto", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-top: 20px;
}

.fieldData {
    display: flex;
    flex-direction: column;
    
    h2{
        font-family: "Raleway", "Roboto", sans-serif;
        font-weight: 600;
        font-size: 18px;
    }

    input{
        background-color: $row-color;
        border-radius: 15px;
        width: 75%;
        height: 48px;
        text-align: center;
        color: rgb(88, 88, 88);
    }
}

.row{
    display: flex;
    direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $row-color;
    font-family: "Raleway", "Roboto", sans-serif;
    font-weight: 600;
    font-size: 28px;

    height: 110px;
    width: 70%;

}

.buttons{
    display: flex;
    width: 100%;
    display: column;
    justify-content: center;
    gap: 20px;
}

.crucialData{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.optionsRow{
    gap: 20px;
}

.main-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.modules-menu{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    h2{
        font-family: "Raleway", "Roboto", sans-serif;
        font-weight: 600;
        font-size: 57px;
    }
}

.modules-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px 30px;
}

main{
    display: flex;
    width: 100%;
}

.module{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-family: "Raleway", "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: $module-color;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;

    svg{
        width: 150px;
        height: 150px;
    }

}

@media screen and (max-width: $breakpoint-tablet) {
    .module{
        height: 180px;
        width: 180px;
        
        svg{
            width: 100px;
            height: 100px;
        }
    }
}

.vertical-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 100vh;
    width: 30%;
    background-color: $main-blue-green;

    hr{
        width: 100%;
        border-top: 1px solid white;
    }
}

.companies-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    overflow-y: scroll;

    // Remove scrollbar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

}

.companies-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    font-family: "Raleway", "Robot", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;


    div{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
    }

    div:hover{
        background-color: white;
        color: $main-blue-green;
    }
}

.vertical-navbar-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;

    svg{
        width: 30px;
        height: 30px;
        color: white;
    }
}



.inputs-form-login{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formButton{
    text-align: center;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

body{
    margin: 0;
    padding: 0;
}

