@import url('./fonts.scss');
@import url('./effects.scss');

$main-blue-green: #00171F;
$module-color: #003459;

#loginForm{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 695px;
    height: 675px;
    gap: 100px;

    border-radius: 25px;

    font-family: "Roboto", sans-serif;
    background-color: $main-blue-green;
    color: white;

    input{
        width: 60%;
        border-bottom: 1px solid white;
    }

    input::placeholder {
        color: white;
    }
}

.main-menu{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.modules-menu{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    h2{
        font-family: "Raleway", "Roboto", sans-serif;
        font-weight: 600;
        font-size: 57px;
    }
}

.modules-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px 30px;
}

main{
    display: flex;
    width: 100%;
}

.module{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-family: "Raleway", "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: $module-color;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;

    svg{
        width: 150px;
        height: 150px;
    }

}

.vertical-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 100vh;
    width: 30%;
    background-color: $main-blue-green;

    hr{
        width: 100%;
        border-top: 1px solid white;
    }
}

.companies-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    overflow-y: scroll;

    // Remove scrollbar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

}

.companies-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    font-family: "Raleway", "Robot", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;


    div{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
    }

    div:hover{
        background-color: white;
        color: $main-blue-green;
    }
}

.vertical-navbar-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;

    svg{
        width: 30px;
        height: 30px;
        color: white;
    }
}



.inputs-form-login{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formButton{
    text-align: center;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

body{
    margin: 0;
    padding: 0;
}

